<div class="card">
  <% @villas.each do |villa| %>
    <h2><%= villa.name %></h2>
    <%= cl_image_tag villa.photo.key, height: 300 %>
    <br>
    <p><%= villa.address %></p>
    <p><%= villa.movie_genre %></p>
    <p><%= villa.price_per_night %></p>
    <p><%= villa.guests_number %></p>
    <%= link_to  "About this villa", villa_path(villa) %>
  <% end %>
</div>
