<div class="full-screen-container">
  <div class="container">
    <h1 class="top-title">Explore the movie-themed Villas...</h1>

    <%# SEARCH BAR %>
    <div class="row">
      <div class="col-sm-8 my-3">
        <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a movie genre or a popular movie" %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <%# ALL VILLAS CARDS %>
    <%# REFACTO most of this code is the same than my_villas %>
    <div class="row">
      <% @villas.each do |villa| %>
        <div class="col-4 col-lg-4">
          <%= link_to villa_path(villa) do %>
            <div class="villa-card">
              <% if villa.photo.attached? %>
                <%= cl_image_tag villa.photo.key, height: 300, class:"villa-pic" %>
              <% end %>

              <div class="general-info">
                <h3><%= villa.name %></h3>
                <p><%= villa.address %></p>
                <p><%= villa.movie_genre %> | Inspired by <%= villa.inspired_by%></p>

                <div class="guest-price">
                  <i class="fa-solid fa-people-group"></i>
                  <p><%= villa.guests_number %></p>
                  <i class="fa-solid fa-euro-sign"></i>
                  <p><%= villa.price_per_night %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%# MAP %>
  <div class="map-box-all-villas" style="width: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
