<div class="row">
    <% @villas.each do |villa| %>
      <div class="col-4 col-lg-4">
        <div class="card">
          <h2><%= villa.name %></h2>
          <% if villa.photo.attached? %>
            <%= cl_image_tag villa.photo.key, height: 300 %>
          <% end %>
          <p><%= villa.address %></p>
          <p><%= villa.movie_genre %></p>
          <p><%= villa.price_per_night %></p>
          <p><%= villa.guests_number %></p>
          <%= link_to  "Edit", edit_villa_path(villa) %>
          <%= link_to  "Delete", villa_path(villa), data: {turbo_method: :delete, turbo_confirm: "Are you sure? Any existing bookings will be deleted as well!"} %>
        </div>
      </div>
    <% end %>
  <div><%= link_to  "Back", root_path %></div>
</div>
