<div class="map-banner">
  <div style="width: 100%; height: 100%;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-8">
      <div class="villa-box">
        <h1 class="top-title"><%= @villa.name %></h1>

        <div class="inspired">
          <p class="movie"><%= @villa.inspired_by%></p>
          <p class="genre"><%= @villa.movie_genre %></p>
        </div>

        <div class="villa-infos">
          <i class="fa-solid fa-people-group"></i>
          <p class="no-margin"><%= @villa.guests_number %></p>
          <i class="fa-solid fa-euro-sign"></i>
          <p class="no-margin"><%= @villa.price_per_night %>/night</p>
          <i class="fa-solid fa-location-dot"></i>
          <p><%= @villa.address %></p>
        </div>

        <p>Hosted by: <%= @villa.user.firstname %> <%= @villa.user.lastname %></p>



        <p><%= @villa.description %></p>

        <div class="villa-pics">
          <%= cl_image_tag @villa.photo.key %>
        </div>
        <%= link_to "Back to explore", root_path, class:"my-btn sec" %>
      </div>
    </div>


    <div class="col-4">
      <div class="my-form booking" data-controller="booking-cost" >
        <h3 class="mb-4">Book this villa</h1>
        <%= simple_form_for [@villa, @booking]  do |f| %>

          <div class="d-flex justify-content-between">
            <%= f.input :start_date, as: :string, wrapper_html: { class:"start-date" },
            input_html: { data: { controller: "datepicker", booking_cost_target: "startDate" } } %>
            <%= f.input :end_date, as: :string, wrapper_html: { class:"end-date" },
            input_html: { data: { controller: "datepicker", booking_cost_target: "endDate", action: "blur->booking-cost#updateFields" } }%>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <p>Price per night:</p>
            <p data-booking-cost-target="price" class="flex-grow-1 text-end"><%= @villa.price_per_night %></p>
            <p> €</p>
          </div>

          <div class="d-flex justify-content-between">
            <p>Number of nights:</p>
            <p data-booking-cost-target="nightsNumber"></p>
          </div>

          <hr>

          <div class="d-flex justify-content-between mb-3">
            <p>Total price:</p>
            <p data-booking-cost-target="totalPrice" class="flex-grow-1 text-end"></p>
            <p> €</p>
          </div>

          <%= f.submit "Book", class: "my-btn prim" %>
        <% end %>
        <%= link_to "Back to explore", root_path, class:"my-btn sec" %>
      </div>

    </div>

  </div>


</div>
