<div class="map-banner">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<%# to be replaced with real map %>


<div class="container">
  <div class="row">

    <div class="col-8">
      <div class="villa-box">
        <h1 class="top-title"><%= @villa.name %></h1>

        <div class="villa-infos">
          <i class="fa-solid fa-people-group"></i>
          <p class="no-margin"><%= @villa.guests_number %></p>
          <i class="fa-solid fa-euro-sign"></i>
          <p class="no-margin"><%= @villa.price_per_night %>/night</p>
          <i class="fa-solid fa-location-dot"></i>
          <p><%= @villa.address %></p>
        </div>

        <p><%= @villa.description %></p>

        <div class="villa-pics">
          <%= cl_image_tag @villa.photo.key %>
        </div>
        <%# make this a carousel %>
        <%= link_to "Back to explore", root_path, class:"my-btn sec" %>
      </div>
    </div>


    <div class="col-4">
      <div class="my-form booking">
        <h3>Book this villa</h1>
        <%= simple_form_for [@villa, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Book", class: "my-btn prim" %>
        <% end %>
        <%# add total price %>
      </div>
    </div>

  </div>




</div>
